﻿@using AuthenticationExample.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Authentication (Upgraded)</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @if (Context.Items["User"] != null)
            {
                <a class="navbar-brand" asp-area="" asp-controller="Secure" asp-action="Index">Home</a>
            }
            else
            {
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            }
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (Context.Items["User"] != null
                        && ((User)Context.Items["User"]).IsAdmin)
                    {  
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Secure" asp-action="Admin">Admin Page</a>
                        </li>                                           
                    }
                    @if (Context.Items["User"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Secure" asp-action="Profile">Edit Profile</a>
                        </li>  
                    }                    
                </ul>
                <div class="form-inline mt-2 mt-md-0">
                    @if (Context.Items["User"] != null)
                    {
                        <span class="text-light mr-sm-3">Signed in as: <span class="signed-in-text">@(((User)Context.Items["User"]).Username)</span></span>                        
                        <span>&nbsp;</span>
                    }

                    @if (Context.Items["User"] == null)
                    {
                        <span class="badge badge-primary"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Sign In</a></span>
                    }
                    else
                    {
                        <span class="badge badge-secondary"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" onclick="$('#SignOutForm').submit(); return false;"><strong>Sign Out</strong></a></span>                                
                    }
                </div>
            </div>
        </nav>
        
        <form id="SignOutForm" style="display: none;" action="@Url.Content("~/Home/SignOut")" method="post"></form>
        
        <div class="modal fade" id="sessionTimeoutModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign-in Session Expiring</h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="renewSession();">
                        <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        The current sign-in session will expire in <span id="remainingTimeLabel"></span>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#SignOutForm').submit();">Sign Out</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="renewSession();">Continue Session</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="loadingModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Processing...
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto py-3">
        <div class="container">
            Authentication (Upgraded)
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>        
        var baseUrl = '@Url.Content("~/")'
    </script>

    @if (Context.Items["User"] != null)
    {
        <script>
            initializeSessionTimeout()
        </script>
    }    

</body>
</html>
