﻿@{
    ViewData["Title"] = "Secure Page - Admin";
}

<div class="jumbotron">
    <div class="container">
        <h1>Adminstration Page</h1>
        <p>This page contains administrative functions for the site.</p>
        <p><a class="btn btn-info btn-lg" asp-area="" asp-controller="Secure" asp-action="Index">&laquo; Go Back</a></p>
    </div>
</div>