﻿@using AuthenticationExample.Models;
@{
    ViewBag.User = Context.Items["User"];
    ViewData["Title"] = "Secure Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome @ViewBag.User.FirstName @ViewBag.User.LastName!</h1>
        @if (ViewBag.User != null
            && ViewBag.User.IsAdmin)
        {
            <p>Signed in as an administrator.</p>
            <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Secure" asp-action="Admin">View Admin Page &raquo;</a></p>
        }
        else
        {
            <p>Signed in as a regular user.</p>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Authentication</h2>
            <p>The example uses a simple session cookie and SQL Server database backend to store user and session data.</p>
        </div>
        <div class="col-md-4">
            <h2>Profile</h2>
            <p>The user profile is editable, along with the username and password.</p>
            <p><a class="btn btn-secondary" asp-area="" asp-controller="Secure" asp-action="Profile">Edit User Profile &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Security</h2>
            <p>The sign-in session automatically expires after 10 minutes of inactivity for extra security.  A prompt appears after 9 minutes to allow extension of the session.</p>            
        </div>
    </div>
</div>