﻿@using AuthenticationExample.Helpers
@using Microsoft.Extensions.Options;
@inject IOptions<Settings> settings
@model AuthenticationResult
@{
    ViewData["Title"] = "Sign In";  

    ViewBag.User = Context.Items["User"];      

    var isSignedOut = false;

    if (Model != null)
    {
        isSignedOut = Model.AuthenticationResultType == AuthenticationResultType.SignedOut;
    }
}

<script src="https://global.oktacdn.com/okta-signin-widget/3.2.1/js/okta-sign-in.min.js" type="text/javascript"></script>
<link href="https://global.oktacdn.com/okta-signin-widget/3.2.1/css/okta-sign-in.min.css" type="text/css" rel="stylesheet" />

@if (isSignedOut)
{
    <div class="alert alert-success">
        Successfully signed out.
    </div>
}

<div id="widget"></div>

<form method="POST" asp-action="SignIn">
    <input type="hidden" name="sessionToken" id="hiddenSessionTokenField" />
</form>

<form id="legacySignInForm" method="post" action="@Url.Content("~/Home/LegacySignIn")" style="display: none;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>

@section Scripts {
    <script type="text/javascript">
        const signIn = new OktaSignIn({
            baseUrl: '@settings.Value.IAMDomain',
            processCreds: function (creds, callback) {
                showLoader();
                $.ajax({
                    method: 'POST',
                    url: baseUrl + 'Home/GetSignInResult',
                    data: {
                        username : creds.username,
                        password : creds.password,
                    },
                    success: function (signInResult) {
                        hideLoader();
                        if (signInResult.authenticationResultTypeValue === 'UseLegacySignIn') {
                            $('#username').val(creds.username);
                            $('#password').val(creds.password);
                            $('#legacySignInForm').submit();
                        }
                        else {
                            callback();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {  
                        hideLoader();
                        callback();
                    }
                });
            }
        });

        signIn.renderEl(
            { 
                el: '#widget' 
            }, 
            (res) => {
                var sessionTokenField = $('#hiddenSessionTokenField');
                sessionTokenField.val(res.session.token);
                var form = sessionTokenField.parent();
                form.submit();
            }, (err) => {
                console.error(err);
            }
        );        
    </script>
}